.idea/*
public/*.js
public/button/*.js
public/simpleLayout/*.js
public/mainLayout/*.js
public/tabContent/*.js
public/Cord/*.js
.idea/modules.xml

.idea/misc.xml

.idea/.name

.idea/ideal-frontend.iml

.idea/scopes/scope_settings.xml

.idea/workspace.xml
