.b-cord-profiler-timer-list
  &.level-color-0
    background-color: antiquewhite
  &.level-color-1
    background-color: cornsilk
  &.level-color-2
    background-color: #d9edf7
  &.level-color-3
    background-color: gainsboro
  &.level-color-4
    background-color: lavenderblush
  &.level-color-5
    background-color: moccasin
