.b-sdf-profiler-timer
  clear: both
  padding-left: 1ex
  font-family: monospace
  line-height: 15px
  position: relative

  >.e-name
    display: table-cell
    font-size: 11px
    font-style: italic
    word-break: break-all
    word-wrap break-word

  >.e-time
    display: table-cell
    margin-left: 1ex
    padding-right: 1em
    font-size: 11px
    width: 6em
    text-align: right

    &.slowest
      color: #A00 !important
      font-weight: bold

    &.over-half
      color: coral !important
      font-weight: bold

    &.over-quarter
      color: #df8505 !important
      font-weight: bold

    &.has-children
      color: #004099

      span
        border-bottom: 1px dashed #149bdf
        cursor: pointer

        &:hover
          border-bottom: 1px solid black
          color: #FF7E00

  .timeline-container
    position: absolute
    top: 0
    right: 5px
    height: 1em

    .e-timeline
      position: absolute
      top: 0.33em
      height: 0.33em
      border-width: 1px
      border-style: solid

      &.sync
        background-color: indianred
        border-color: red
      &.async
        background-color: greenyellow
        border-color: green
